@font-face {
    font-family: "Verdana";
    src: url(verdana.woff2) format('woff2');
    src: url(verdana.woff) format('woff');
    src: url(verdana.ttf) format('ttf');
    font-weight: normal;
    font-size: normal;
}